<% content_for :title do %>Login
<% end %>
<% content_for :description do %>Login
<% end %>
<%= render 'layouts/title', icono: "icon-key", titulo: "Login" %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-4 small-centered large-centered column">
    <h3 class="aligncenter title">Login</h3>

    <div class="form">
      <%= simple_form_for(@session) do |form| %>
          <fieldset>
            <%= render 'layouts/error_messages', object: form.object %>
            <div class="clearfix">
              <div class="input">
                <%= form.input :email, error: false, label: "Email", placeholder: 'Entra tu direccion de email' %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password, password_field: true, placeholder: 'Entra tu password', error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <ul class="inputs-list list-unstyled">
                  <li>
                    <label>
                      <input id="ch" type="checkbox" name="remember" value="1" checked="checked"/>
                      <span>Remember me</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clearfix form-link">
              <p class="reset">Recover your
                <a href="forgot-password.html" title="Recover your username or password">username or password</a></p>

              <p class="reset">New user? <%= link_to "Sign up now!", signup_path %></p>
            </div>
            <div class="actions">
              <%= form.button :submit, 'Login', class: 'submit' %>
            </div>
          </fieldset>
      <% end %>
    </div>
  </div>
</section>
<!-- End: Login Form -->
