<% content_for :title do
  t(:article_create_new_section) %>
<% end %>
<% content_for :description do
  t(:article_create_new_section) %>
<% end %>
<%= render 'layouts/title', icono: "icon-leaf", titulo: t(:article_create_new_section) %>

<!-- Start:  Login Form-->
<section class="row" id="articles">
  <div class="small-12 large-12 column">
    <h2 class="aligncenter title"><%= t(:article_new_link) %></h2>

    <div class="form">
      <%= simple_form_for @article_content, :url => article_article_contents_path do |form| %>
          <fieldset>
            <%= render 'layouts/error_messages', object: form.object %>
            <div class="row">
              <div class="large-8 columns">
                <h3><%= t(:article_section_form_section) %></h3>

                <div class="large-6 columns">
                  <%= form.hidden_field :section_id, class: 'select2 ajax',
                                        data: {source: search_section_path,
                                               placeholder: 'Search for a section'} %>
                </div>
                <div class="large-6 columns">
                  <%= form.text_field :new_section_name, placeholder: "or create one", class: 'rigth' %>
                </div>
              </div>
              <div class="large-4 columns">
                <h3><%= t(:article_section_display_order) %></h3>
                <%= form.input :display_order, error: false, label: false %>

              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <h3><%= t(:article_section_form_description) %></h3>
                <%= form.input :description, as: :text, error: false, label: false %>
                <%= form.hidden_field :status, value: '0' %>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <%= form.button :submit, t(:article_section_create_section), class: 'submit right' %>
              </div>
            </div>
          </fieldset>
      <% end %>
    </div>

  </div>

</section>
<p>Secciones x articulo</p>

<% content_for :foot do %>
    <%= render :file => 'article_contents/search_sections.js.erb' %>
<% end %>
