<% content_for :title do %>Mi perfil
<% end %>
<% content_for :description do %>Mantenimiento de mi perfil
<% end %>
<%= render 'layouts/title', icono: "icon-check-sign", titulo: "Mi Perfil" %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-4 large-offset-2 column">
    <h3 class="aligncenter title">Actualiza tu perfil</h3>

    <div class="form">
      <%= simple_form_for @user do |form| %>
          <fieldset>
            <h4>&nbsp;&nbsp;Actualiza tu informacion</h4>
            <%= render 'layouts/error_messages', object: form.object %>
            <div class="clearfix">
              <div class="input">
                <%= form.input :name, error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :email, error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password, password_field: true, placeholder: 'Enter your password', error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password_confirmation, password_field: true, label: "Confirmation", placeholder: 'Please confirm your password', error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :phone, required: false, error: false %>
                <%= form.hidden_field :user_type, value: '0' %>
              </div>
            </div>
            <div class="actions">
              <%= form.button :submit, 'Guardar', class: 'submit' %>
            </div>
          </fieldset>
      <% end %>


    </div>

  </div>
  <div class="small-12 large-4 column left">

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">Modificar</a>

  </div>
</section>
