<% content_for :title do %>Contactanos
<% end %>
<% content_for :description do %>Envianos cualquier comentario
<% end %>
<%= render 'layouts/title', icono: "icon-check-sign", titulo: "Registro" %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-4 large-offset-2 column">
    <h3 class="aligncenter title">Registro de nuevos usuarios</h3>

    <div class="form">
      <%= simple_form_for @user do |form| %>
          <fieldset>
            <h4>Registra tu informacion</h4>
            <%= render 'layouts/error_messages', object: form.object %>
            <div class="clearfix">
              <div class="input">
                <%= form.input :name , error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :email , error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password, password_field: true , placeholder: 'Enter your password', error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password_confirmation, password_field: true, label:"Confirmation", placeholder: 'Please confirm your password' , error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :phone , required: false , error: false %>
                <%= form.hidden_field :user_type , value: '0' %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <ul class="inputs-list list-unstyled">

                  <li>
                    <label>
                      <input id="ch" tabindex="8" type="checkbox" name="remember" value="1" checked="checked" required=""/>
                      <span>I agree to something I will never read</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clearfix form-link">
              <p class="reset">Recover your
                <a tabindex="4" href="forgot-password.html" title="Recover your username or password">username or
                  password</a></p>

              <p class="reset"><a href="login.html" title="Login"> Already have an account? <strong>Sign In</strong></a>
              </p>
            </div>
            <div class="actions">
              <%= form.button :submit, 'Sign Up', class: 'submit' %>
            </div>
          </fieldset>
      <% end %>
    </div>

  </div>
  <div class="small-12 large-4 column left">
    <h3>Registrer Now !!!</h3>

    <p> Lorem ipsum dolor sit amet, conafs
      sectetur adipisicing elit, sed dofrt
      Eiusmod tempor.Dolor sit amet, conafs
      sectetur adipisicing elit.</p>

    <p> Morem ipsum dolor sit amet, conafs
      sectetur adipisicing elit, sed dofrt
      Eiusmod tempor.</p>

    <ul class="list-unstyled link-list">
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
    </ul>
    <br/>

    <p> Morem ipsum dolor sit amet, conafs
      sectetur adipisicing elit, sed dofrt
      Eiusmod tempor.</p>
  </div>
</section>
<!-- End: Login Form -->
