<% content_for :title do t(:user_title) %>
<% end %>
<% content_for :description do t(:user_description)%>
<% end %>
<%= render 'layouts/title', icono: "icon-check-sign", titulo: t(:user_profile_title) %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-4 large-offset-2 column">
    <div class="form">
      <%= simple_form_for @user do |form| %>
          <fieldset>
            <h4>&nbsp;&nbsp;Registra tu informacion</h4>
            <%= render 'layouts/error_messages', object: form.object %>
            <div class="clearfix">
              <div class="input">
                <%= form.input :name, error: false, label: t(:user_form_name) %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :email, error: false, label: t(:user_form_email) %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password, password_field: true, label: t(:user_form_password), placeholder: t(:user_form_password_ph), error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :password_confirmation, password_field: true, label: t(:user_form_password_confirmation), placeholder: t(:user_form_password_confirmation_ph), error: false %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <%= form.input :phone, required: false, error: false, label: t(:user_form_phone) %>
                <%= form.hidden_field :user_type , value: '0' %>
              </div>
            </div>
            <div class="clearfix">
              <div class="">
                <%= form.input  :locale, :collection => LANGUAGES, required: true, :include_blank => false, label: t(:user_form_locale) %>
              </div>
            </div>
            <div class="clearfix">
              <div class="input">
                <ul class="inputs-list list-unstyled">

                  <li>
                    <label>
                      <input id="ch" tabindex="8" type="checkbox" name="remember" value="1" checked="checked" required=""/>
                      <span>I agree to something I will never read</span></label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="clearfix form-link">
              <p class="reset">Recover your
                <a tabindex="4" href="forgot-password.html" title="Recover your username or password">username or
                  password</a></p>

              <p class="reset"><a href="login.html" title="Login"> Already have an account? <strong>Sign In</strong></a>
              </p>
            </div>
            <div class="clearfix">
              <%= link_to root_path do %>
                  <i class="icon-arrow-left dark-link"></i> <%= t(:cancel_button_label) %>
              <% end %>
            </div>
            <div class="actions">
              <%= form.button :submit, t(:create_user_button_label), class: 'submit' %>
            </div>
          </fieldset>
      <% end %>
    </div>

  </div>
  <div class="small-12 large-4 column left">
    <h3>Registrer Now !!!</h3>

    <p> Lorem ipsum dolor sit amet, conafs
      sectetur adipisicing elit, sed dofrt
      Eiusmod tempor.Dolor sit amet, conafs
      sectetur adipisicing elit.</p>

    <p> Morem ipsum dolor sit amet, conafs
      sectetur adipisicing elit, sed dofrt
      Eiusmod tempor.</p>

    <ul class="list-unstyled link-list">
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
      <li><i class="icon-ok icon-blue icon-2x"></i> Lorem ipsum dolor sit amet</li>
    </ul>
    <br/>

    <p> Morem ipsum dolor sit amet, conafs
      sectetur adipisicing elit, sed dofrt
      Eiusmod tempor.</p>
  </div>
</section>
