<div class="row">
  <% provide(:title, @user.name) %>
  <section class="small-12 large-8 column">
    <div id="about" class="row">
      <div class="title"><h3>Bienvenido a Reconecta tu vida <%= @user.name %>!</h3></div>
      <div>
        <%= @user.email %>
        <%= gravatar_for @user %>
      </div>
    </div>
    <div class="row">
      <p>Estos son algunos de los articulos que ha publicado</p>
    </div>
  </section>

  <section class="small-12 large-8 column">
    <div class="span8">
      <% if @user.articles.any? %>
          <h3>Articulos(<%= @user.articles.count %>)</h3>
          <ol class="articles">
            <%= render @articles %>
          </ol>
          <%= will_paginate @articles %>
      <% end %>
    </div>
  </section>

  <aside class="small-12 large-4 column ">
    <section class="categori-list">
      <h4>Categories</h4>
      <ul class="list-unstyled nav-list" >
        <li class="active"><a href="#">Letuer adipi scing</a></li>
        <li><a href="#">Amet adipi consect sci ng</a></li>
        <li><a href="#"> dolor adipi sci consect</a></li>
        <li><a href="#">Letuer consect adipi dolor</a></li>
        <li><a href="#">Letuer adipi consect sci ng</a></li>
        <li><a href="#">Letuer dolor adipi sci consect</a></li>
        <li><a href="#">Zetuer consect adipi dolor</a></li>
        <li><a href="#">Letuer adipi consect sci ng</a></li>
        <li><a href="#">Bmet dolor adipi sci consect</a></li>
        <li><a href="#">Amteret consect adipi dolor</a></li>
      </ul>
    </section>
    <section>
      <h4>Blog Tags</h4>
      <ul class="list-unstyled inline-list blog-tags">
        <li><a href="#"><i class="icon-tags"></i> Business</a></li>
        <li><a href="#"><i class="icon-tags"></i> Music</a></li>
        <li><a href="#"><i class="icon-tags"></i> Internet</a></li>
        <li><a href="#"><i class="icon-tags"></i> Money</a></li>
        <li><a href="#"><i class="icon-tags"></i> Google</a></li>
        <li><a href="#"><i class="icon-tags"></i> TV Shows</a></li>
        <li><a href="#"><i class="icon-tags"></i> Education</a></li>
        <li><a href="#"><i class="icon-tags"></i> People</a></li>
        <li><a href="#"><i class="icon-tags"></i> People</a></li>
        <li><a href="#"><i class="icon-tags"></i> Math</a></li>
        <li><a href="#"><i class="icon-tags"></i> Photos</a></li>
        <li><a href="#"><i class="icon-tags"></i> Electronics</a></li>
        <li><a href="#"><i class="icon-tags"></i> Apple</a></li>
        <li><a href="#"><i class="icon-tags"></i> Canada</a></li>
      </ul>
    </section>

  </aside>
</div>
