<% content_for :title do t(:sections) %>
<% end %>
<% content_for :description do t(:sections) %>
<% end %>
<%= render 'layouts/title', icono: "icon-leaf", titulo: t(:sections)  %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-8  column">
    <div class="row">
      <h3><%= create_big_link('icon-edit-sign', t(:section_new_link), new_section_path) %></h3>
    </div>
    <%= will_paginate @sections, {previous_label: t(:previous_label), next_label: t(:next_label)} %>
    <ul class="listado">
      <% @sections.each do |section| %>
          <%= render section %>
      <% end %>
    </ul>
    <%= will_paginate @sections, {previous_label: t(:previous_label), next_label: t(:next_label)} %>
  </div>
  <aside class="small-12 large-4 column ">

    <form method="get">
      <div class="input">
        <%= form.input :name, label: t(:section_form_name) %>
      </div>
      <input type="submit" value=<%=t(:search_label)%> />
    </form>

    <%= form_tag '', :method => :get do %>
      <div class="input">
        <%= text_field_tag :value_one %>
        <%= text_field_tag :value_two %>
        <%= submit_tag t(:search_label) %>
      </div>
    <% end %>

    <%= content_tag :div, class: "strong" do %>
      Hello world!
    <% end %>

    <ul>
      <li class="top-bar_search">
        <form method="get" action="http://www.sitepoint.com/">
          <input autocomplete="off" class="searchquery" id="search-box" name="s" placeholder="Search&hellip;" type="text" tabindex="4">
          <button tabindex="-1"></button>
        </form>
      </li>
    </ul>
    
  </aside>

</section>

<p>Gracias</p>
