<% content_for :title do
  t(:sections) %>
<% end %>
<% content_for :description do
  t(:sections) %>
<% end %>
<%= render 'layouts/title', icono: "icon-leaf", titulo: t(:sections) %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-8  column">
    <div class="row">
      <h3><%= create_big_link('icon-edit-sign', t(:section_new_link), new_section_path) %></h3>
    </div>
    <%= will_paginate @sections, {previous_label: t(:previous_label), next_label: t(:next_label), renderer: FoundationPagination::Rails}  %>
    <ul class="listado">
      <% @sections.each do |section| %>
          <%= render section %>
      <% end %>
    </ul>
    <%= will_paginate @sections, {previous_label: t(:previous_label), next_label: t(:next_label), renderer: FoundationPagination::Rails}  %>
  </div>

  <aside class="small-12 large-4 column ">
    <%= render 'layouts/search_bar', where_to_post: sections_path %>
  </aside>

</section>

<p>Gracias</p>
