<% content_for :title do %>Todas las secciones
<% end %>
<% content_for :description do %>Mantenimiento de secciones
<% end %>
<%= render 'layouts/title', icono: "icon-leaf", titulo: "Secciones" %>

<!-- Start:  Login Form-->
<section class="row" id="signup">
  <div class="small-12 large-8  column">
    <div class="row">
      <h3><%= create_big_link('icon-edit-sign','Crear una seccion nueva', new_section_path) %></h3>
    </div>
    <%= will_paginate @sections, renderer: FoundationPagination::Rails %>
    <ul class="listado">
      <% @sections.each do |section| %>
          <%= render section %>
      <% end %>
    </ul>
    <%= will_paginate @sections, renderer: FoundationPagination::Rails %>
  </div>
  <aside class="small-12 large-4 column ">
  </aside>

</section>

<p>Gracias</p>
