<% content_for :title do %>Contactanos
<% end %>
<% content_for :description do %>Envianos cualquier comentario
<% end %>
<%= render 'layouts/title', icono:"icon-envelope", titulo:"Contactanos" %>

<% content_for :head do %>
 <% end %>


<div class="row">
  <section class="small-12 large-8 column">
    <!-- starts: Google Maps -->
    <!--div class="gmapfixed_block">
      <div id="googlemaps-container-top"></div>
      <div id="googlemaps" class="google-map google-map-full"></div>
      <div id="googlemaps-container-bottom"></div>
    </div-->
    <div style='width: 800px;'>
      <div id="etm_map" style='width: 600px; height: 400px;'></div>
    </div>

    <!-- end: Google Maps -->
  </section>
  <aside class="small-12 large-4 column">
    <div class="widget">
      <h4>Direccion</h4>
      <address>
        <ul class="list-unstyled">
          <li> <i class="icon-home"></i>Casa del escarabajo y mariposa,
            PO Box 6630,
            Bayamon, PR
            00960
          </li>
          <li> <i class="icon-envelope-alt"></i><a href="mailto:enrique.tron@gmail.com">enrique.tron@gmail.com </a></li>
          <li> <i class="icon-phone-sign"></i>1(222) 5x86 x97x </li>
        </ul>
      </address>
    </div>
    <div class="widget">

      <div class="form" >
        <h4>Contact us</h4>
        <%= simple_form_for @contact do |form| %>
            <%= form.error_notification %>
            <%= form.input :name, autofocus: true %>
            <%= form.input :email %>
            <%= form.input :content, as: :text %>
            <%= form.button :submit, 'Submit', class: 'submit' %>
        <% end %>
      </div>
    </div>

  </aside>
</div>

<% content_for :foot do %>
    <%= render :file => 'contact.js.erb'  %>
<% end %>
