<div class="recent-box small-12 large-3 column">
  <a href="<%= image_path(image) %>" data-link="prettyPhoto[pp_gal]" class="thumbnail">
    <img src="<%= image_path(image) %>" alt="<%= alt %>">
  </a>
  <h4><%= header %></h4>
  <p><%= content %></p>
</div>
