<li>
  <div class="row slider-box">
    <div class="slider-details small-12 large-7 columns">
      <h2 class="custom-animated fadeInUpBig"><%= heading %></h2>
      <h4 class="custom-animated fadeInUpBig"><%= sub_heading %></h4>
      <p class="custom-animated fadeInUpBig"> <%= content %>
        <br /><a href="<%= reference %>" class="button small">Lee mas</a>
      </p>
    </div>
    <div class="slider-image small-12 large-5 columns custom-animated fadeInRightBig">
      <!--img src="slider/foundation-4.png" alt="Build with foundation-4" /-->
      <%= image_tag image , alt:image_alt  %>

    </div>
  </div>
</li>
