<%# add navigation links to this file %>
<ul class="right">
  <li class="active"><%= link_to 'Home', root_path %></li>
  <% if signed_in? %>
      <li class="has-dropdown"><a href="#">Mi Cuenta</a>
        <ul class="dropdown">
          <li><%= link_to 'Mi perfil', user_path(current_user) %></li>
          <li><%= link_to 'Settings', edit_user_path(current_user) %></li>

          <li class="divider"></li>
          <li><%= link_to 'Salir', signout_path, method: "delete" %></li>
        </ul>
      </li>
  <% else %>
      <li><%= link_to 'Registro', new_user_path %></li>
      <li><%= link_to 'Login', signin_path %></li>
  <% end %>

  <li><%= link_to 'Contacto', new_contact_path %></li>

<% if signed_in? && is_admin?%>
  <li class="has-dropdown"><a href="#">Administracion</a>
    <ul class="dropdown">
      <li><%= link_to 'Usuarios', users_path %></li>
    </ul>
  </li>
<% end %>


  <!--li class="has-dropdown"><a href="#">Portafolio</a>
    <ul class="dropdown">
      <li><a href="portfolio2.html">portafolio 2 col</a></li>
      <li><a href="portfolio3.html">portafolio 3 col</a></li>
      <li><a href="portfolio4.html">portafolio 4 col</a></li>
    </ul>
  </li-->

  <li class="has-dropdown"><a href="#">Extras </a>
    <ul class="dropdown">
      <li><a href="services.html">Servicios</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li><%= link_to 'Nosotros', page_path('about') %></li>
      <li><a href="single-post.html">Single Post </a></li>
      <li><a href="project-details.html">Project Details </a></li>
      <li><a href="coming-soon.html">Coming Soon</a></li>
      <li><a href="gallery.html">Gallery </a></li>
      <li><a href="gallery-flickr.html">Gallery Flickr</a></li>
      <li><a href="gallery-video.html">Video Gallery</a></li>
      <li><a href="price-table.html">Price List</a></li>
      <li><a href="testimonials.html">Testimonials</a></li>
      <li><a href="quote.html">Request a Quote</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="icons.html">Buttons and Icons</a></li>
      <li><a href="404.html">404</a></li>
    </ul>
  </li>
</ul>

